<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%-include("./partials/nav.ejs")%>
    <h1>This is a page <i><%=title%></i></h1>
    <p><%=content%></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nemo suscipit libero, explicabo sint numquam, unde nulla commodi earum dicta alias maxime sapiente nam error reiciendis perferendis similique fugiat tenetur?</p>
</body>
</html>